{{#each member.assessments}}
<table class="ui table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Comment</th>
      <th>Trend</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
            {{date}}
            </td>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{upperArm}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
                {{Comment}}
            </td>
          <td>
            {{#if trend }}<i class="green big long arrow alternate down icon"></i>
            {{else}}<i class="red big long arrow alternate up icon"></i>
            {{/if}}
          </td>
        </tr>
    </tbody>
</table>
<form class="ui stacked segment form" action="/dashboardTrainerView/{{../member.id}}/addcomment/{{id}}" method="POST">
    <div class="field">
        <label>Comment</label>
        <input placeholder="Add Comment" type="text" name="Comment">
    </div>
    <button class="ui blue submit button">Submit</button>
</form>
{{/each}}