<table class="ui table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper Arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Comment</th>
      <th>Trend</th>
    </tr>
  </thead>
  <tbody>
    {{#each member.assessments}}
      <tr>
        <td>
          {{date}}
        </td>
        <td>
          {{weight}}
        </td>
        <td>
          {{chest}}
        </td>
        <td>
          {{thigh}}
        </td>
        <td>
          {{upperArm}}
        </td>
        <td>
          {{waist}}
        </td>
        <td>
          {{hips}}
          </td>
          <td>
          {{Comment}}
          </td>
        <td>
          {{#if trend }}<i class="green big long arrow alternate down icon"></i>
          {{else}}<i class="red big long arrow alternate up icon"></i>
          {{/if}}
        </td>
          <td>
              <a href="/assessment/{{../member.id}}/editassessment/{{id}}" class="ui icon button">
                  <i class="ui blue pencil alternate icon"></i>
              </a>
          <a href="/member/{{../member.id}}/deleteAssessment/{{id}}" class="ui icon button">
            <i class="ui red icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

