{{#each members}}
  <section class="ui stacked segment">
    <h2 class="ui header">
      {{firstName}} {{lastName}}
    </h2>
    <p> Total Assessments: {{assessments.length}} </p>
    <a href="/dashboardTrainerView/{{id}}" class="ui icon button">
      <i class="icon folder open"></i>
    </a>
    <a href="/dashboard/deletemember/{{id}}" class="ui icon button">
      <i class="icon trash"></i>
    </a>
  </section>
{{/each}}


